{% extends "two_factor/_base_focus.html" %}
{% load i18n %}

{% block content %}
  <h1>{% block title %}{% trans "Enable Two-Factor Authentication" %}{% endblock %}</h1>

  <p>{% blocktrans trimmed %}Congratulations, you've successfully enabled two-factor
      authentication.  You can modify or update 2FA setting at any time from the 2FA screen.
      Or you can download and save Backup Codes, which you can use if your 2FA device is unavailable.
  {% endblocktrans %}</p>

  {% if not phone_methods %}
    <p><a href="{% url 'two_factor:profile' %}"
        class="btn btn-block btn-secondary">{% trans "Back to Account Security" %}</a></p>
  {% else %}
    <p>{% blocktrans trimmed %}However, it might happen that you don't have access to
      your primary Authenticator app device. To enable account recovery, add a phone
      number.{% endblocktrans %}</p>

    <a href="{% url 'two_factor:profile' %}"
        class="float-right btn btn-link">{% trans "Back to Account Security" %}</a>
    <p><a href="{% url 'two_factor:phone_create' %}"
        class="btn btn-success">{% trans "Add Phone Number" %}</a></p>
  {% endif %}

    <p>{% blocktrans trimmed %}You may be prompted to enter a 2FA code on future logins.{% endblocktrans %}</p>
{% endblock %}
